/** {
  border: 1px solid red;
}
*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

footer {
  background-color: #EFEFEF;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

footer > .text-area {
  flex: 1 0 0;
  padding: 48px 0 24px 24px;
}

.text-header {
  font-family: 'MuseoSans', sans-serif;
  font-weight: 300;
  font-size: 21.3px;
  color: #947EB0;
  margin: 0;
}

.text-header > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0 24px 0;
}

.text-header > ul > li {
  padding-right: 12px;
}

.text-body {
  font-family: 'MuseoSans', sans-serif;
  color: #515252;
}

.text-body > h1 {
  font-weight: 700;
  font-size: 34px;
  margin: 0 0 12px 0;
}

.text-body > p {
  font-size: 14.3px;
  color: #979797;
  margin: 0;
}

.text-footer {
  font-family: 'MuseoSans', sans-serif;
  font-weight: 300;
  font-size: 12.7px;
  color: #515252;
}

#modify {
  background-color: #947EB0;
  color: white;
  border-radius: 2px;
  cursor: hand;
}

#modify:hover {
  background-color: gray;
}

.bullet {
  display: inline-block;
  background-color: #947EB0;
  margin-right: 5px;
  height: 12.7px;
  width: 12.7px;
  border-radius: 50%;
}

.text-footer > ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 24px 0 0 0;
}

.text-footer > ul > li {
  text-align: center;
  list-style: none;
  margin-right: 24px;
  padding: 0.5em 1em;
}

.text-footer > ul > li a{
  color: white;
  text-decoration: none;
}

footer > .users-container {
  flex: 1 1 1;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
  padding: 0 0 24px 0;
}

.users {
  font-family: 'MuseoSans', sans-serif;
  font-weight: 300;
  font-size: 9.1px;
  color: #B4B5B5;
  height: 30%;
  display: flex;
  flex-direction: column-reverse;
  align-content: flex-end;
}

.users > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.users > ul > li {
  text-align: center;
  padding-right: 24px;
}

.user-icon {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.smile {
  position: absolute;
  top: 14px;
  left: 50%;
  width: 14px;
  height: 6px;
  margin-left: -7px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0 0 9px 9px;
}

.user-icon.red {
  background-color: #F98B70;
}

.user-icon.purple {
  background-color: #947EB0;
}

.map {
  width: 240px;
  height: auto;
  padding-left: 24px;
  background-color: gray;
  top: 12px;
  right: 12px;
}

@font-face {
  font-family: MuseoSans;
  src: url('/fonts/MuseoSans_500.otf');
}
