footer {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: row;
}

.text-area {
  width: 720px;
}

.map {
  width: 240px;
  height: 240px;
  background-color: gray;
  top: 12px;
  right: 12px;
}

/*@font-face {
  font-family: MuseoSans;
  src: url('/fonts/MuseoSans_500.otf');
}*/
